// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.fab-item {
  position: relative;
}

.icon-text {
  background-color: #333;
  color: #FFF;
  padding: 5px;
  border-radius: 2px;
  right: 50px;
  top: 15px;
  margin: 0 !important;
  position: absolute;
  width: auto;
  white-space: nowrap;
}

.presentation .label {
  white-space: unset!important
}

form {
  text-align: center;

  img {
    width: 150px;
    margin: 15px;
  }

  .button {
    margin-bottom: 15px!important;
  }

  ion-item {
    padding: 0 16px !important
  }
}
